/*
* @Author: Marte
* @Date:   2018-04-12 11:33:12
* @Last Modified by:   Marte
* @Last Modified time: 2018-04-12 11:44:43
*/
section{
    flex:1;
    .content{
        display:flex;
        justify-content:space-between;
        justify-content:center;
        padding:0 3%;
        .left{
            width:30%;
            img{
                width: 100%;
            }
        }
        .right{
            margin-left:5%;
            width: 65%;
            p{
                font-size:.2rem!important;
                &:nth-child(2){
                    color:#B0B0B0;
                };
                &:last-child{
                    color:#F56539;
                };
            }
        }
    }
}